@page
@model ASPproject.Pages.Test.TestPageModel
@{
}


<form >
    <div class="box">
        <h1>Login</h1>
        <input class="but" type="text" name="" placeholder="Username" />
        <input class="but" type="password" name="" placeholder="Password" />
        <input class="btnLogin" type="submit" name="" value="Login" asp-page="/User/UserPage" />
        <input class="btnLogin" type="submit" name="" value="Register" />
    </div>
    
</form>

    
