@page
@model ASPproject.Pages.User.UserPageModel
@{
}



<section class="userPage">
    <div>
        <h1 class="profile">Profile</h1>
    </div>
    <div class="containerUser">
        <div class="userField">
            <p>
                Username: <span>Maxim</span>
            </p>
            <p>
                Email: <span>m.plugovv@mail.ru</span>
            </p>
            <p>
                Password: <span>1234</span>
            </p>
            <p>
                Game record: <span>10</span>
            </p>
        </div>
        
        <div class="imageUser">
            <img src="~/img/Penguin.jpg" width="200px" height="200px" />
        </div>

    </div>
</section>